{% extends "layout.html" %}

{% block title %}
    Admin Edit Meal
{% endblock %}

{% block body %}
        <h1>Edit/Delete the meal you signed up for</h1>
        <h4>Volunteer Name: {{ gc.volunteer_name }}</h4>
        <form method="POST" action="/admin/edit-gc-{{ gc.gc_id }}" class="container" id="gc-edit-form">
            <div class="mb-3">
                <label for="gc-name" class="form-label">Gift Card Name</label>
                <input type="text" name="gc_name" class="form-control" value="{{ gc.gc_name }}" placeholder="{{ gc.gc_name }}" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Drop-off Date</label>
                <input type="date" name="date" value="{{ gc.date }}" class="form-control" id="date" required>
            </div>
            <div class="mb-3">
                <label for="teacher_name" class="form-label">Teacher Name</label>
                <input type="text" name="teacher_name" value="{{ gc.teacher_name if gc.teacher_name }}" 
                    class="form-control" placeholder="{{ 'N/A' if not gc.teacher_name }}" id="teacher_name">
            </div>
            <div class="mb-3">
                <label for="teacher_email" class="form-label">Teacher Email</label>
                <input type="email" name="teacher_email" value="{{ gc.teacher_email if gc.teacher_email}}"
                    class="form-control" placeholder="{{ 'N/A' if not gc.teacher_email }}" id="teacher_email">
            </div>
            <input type="hidden" name="id" value="{{ gc.gc_id }}">
            <button type="submit" name="action" value="edit" class="btn mb-3 btn-primary">Confirm Edit</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete Signup</button>
        </form>
{% endblock %}
{% block scripts %}
    <script>
    document.getElementById("gc-edit-form").addEventListener("submit", function(event) {
        const name = document.getElementById("teacher_name").value.trim();
        const email = document.getElementById("teacher_email").value.trim();

        // Check rule: either both empty or both filled
        if ((name && !email) || (!name && email)) {
            alert("Please fill in both Teacher Name and Email, or leave both empty.");
            event.preventDefault(); // stop form submission
        }
    });
    </script>
{% endblock %}