{% extends "layout.html" %}

{% block title %}
    Admin Add Meal
{% endblock %}

{% block body %}
    <h1>Meal Signup</h1>
    <form method="POST" action="/admin/add-meal" class="container" id="volunteer-form">
            <div class="mb-3">
                <label for="name" class="form-label">Volunteer Name</label>
                <select name="name" class="form-select" id="name" required>
                    <option value="" selected disabled>Name</option>
                    {% for volunteer in volunteers %}
                        <option value="{{ volunteer.name }}">{{ volunteer.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="meal-name" class="form-label">Recipe Name</label>
                <select name="meal" class="form-select" id="meal-name" required>
                    <option value="" selected disabled>Recipe Name</option>
                    {% for recipe in recipes %}
                        <option value="{{ recipe.name }}">{{ recipe.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Drop-off Date</label>
                <input type="date" name="date" class="form-control" id="date" required>
            </div>
            <button type="submit" class="btn align-self-end mb-3 btn-primary">Submit</button>
    </form>
{% endblock %}