{% extends "layout.html" %}

{% block title %}
    Admin Edit Meal
{% endblock %}

{% block body %}
        <h1>Edit/Delete the selected meal</h1>
        <h4>Volunteer Name: {{ meal.volunteer_name }}</h4>
        <form method="POST" action="/admin/edit-meal-{{ meal.meal_id }}" class="container" id="meal-edit-form">
            <div class="mb-3">
                <label for="meal-name" class="form-label">Recipe Name</label>
                <select name="recipe_id" class="form-select" id="meal-name" required>
                    <option value="{{ meal.recipe_id }}" selected>{{ meal.recipe_name }}</option>
                    {% for recipe in recipes %}
                        {% if recipe.id != meal.recipe_id %}
                            <option value="{{ recipe.id }}">{{ recipe.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Drop-off Date</label>
                <input type="date" name="date" value="{{ meal.date }}" class="form-control" id="date" required>
            </div>
            <input type="hidden" name="id" value="{{ meal.meal_id }}">
            <button type="submit" name="action" value="edit" class="btn mb-3 btn-primary">Confirm Edit</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete Signup</button>
        </form>
{% endblock %}