{% extends "layout.html" %}

{% block title %}
    Volunteer Gift Card Signup
{% endblock %}

{% block body %}
    {% if date.volunteer_start <= today and today <= date.volunteer_end %}
        <h1>{{ date.month_year }} Gift Card Signup</h1>
        <p>Note: Recommended minimum gift card amount is $25.</p>
        <form method="POST" action="/volunteers/gc-signup" class="container" id="volunteer-form">
                <div class="mb-3">
                    <label for="name">Volunteer Name</label>
                    <select name="name" class="form-select" id="name" required>
                        <option value="" selected disabled>Name</option>
                        {% for volunteer in volunteers %}
                            <option value="{{ volunteer.name }}">{{ volunteer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="gc-name">Name of Gift Card</label>
                    <input type="text" name="gc_name" class="form-control" required placeholder="Amazon, Target, etc."autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="date">Drop-off Date</label>
                    <input type="date" name="date" class="form-control" id="date" min="{{ start }}" max="{{ end }}" required>
                </div>
                <button type="submit" class="btn align-self-end mb-3 btn-primary">Submit</button>
        </form>
    {% else %}
        <h1>Signup Deadline Passed</h1>
        <p class="fs-5">Sorry, the deadline for submitting a signup has passed. You can still signup for next month when it opens.</p>
        <a href="/volunteers" class="btn btn-primary">Volunteer Home</a>
    {% endif %}
{% endblock %}