{% extends "layout.html" %}

{% block title %}
    Override Meal Signups
{% endblock %}

{% block body %}
    <h1>Current Signups</h1>
    <h3>Meals</h3>
    <a href="/admin/add-meal" class="btn btn-primary mb-2">Add Meal</a>
    <table class="container table table-striped w-75 table-bordered">
        <thead>
            <tr>
                <th>Volunteer Name</th>
                <th>Meal Name</th>
                <th>Drop-off Date</th>
                <th>Teacher Name</th>
                <th>Teacher Email</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.volunteer_name }}</td>
                    <td><a href="/recipes/{{ meal.recipe_id }}">{{ meal.meal_name }}</a></td>
                    <td>{{ meal.date.strftime('%b') }} {{ meal.date.day }}</td>
                    <td>{{ meal.teacher_name if meal.teacher_name else "N/A" }}</td>
                    <td>{{ meal.teacher_email if meal.teacher_email else "N/A" }}</td>
                    <td>
                        <a href="/admin/edit-meal-{{ meal.meal_id}}" class="btn btn-warning">Edit/Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Gift Cards</h3>
    <a href="/admin/add-gc" class="btn btn-primary mb-2">Add GC</a>
    <table class="container table table-striped w-75 table-bordered">
        <thead>
            <tr>
                <th>Volunteer Name</th>
                <th>Gift Card Name</th>
                <th>Drop-off Date</th>
                <th>Teacher Name</th>
                <th>Teacher Email</th>
                <th>Hidden?</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for gc in gcs %}
                <tr>
                    <td>{{ gc.volunteer_name }}</td>
                    <td>{{ gc.gc_name }}</td>
                    <td>{{ gc.date.strftime('%b') }} {{ gc.date.day }}</td>
                    <td>{{ gc.teacher_name if gc.teacher_name else "N/A" }}</td>
                    <td>{{ gc.teacher_email if gc.teacher_email else "N/A" }}</td>
                    <td>
                        <div class="form-check form-switch d-flex justify-content-center">
                                <input class="form-check-input gc-switch" type="checkbox" role="switch"  
                                data-gc-id="{{ gc.gc_id }}"{% if gc.hidden %}checked{% endif %}>
                        </div>
                    </td>
                    <td>
                        <a href="/admin/edit-gc-{{ gc.gc_id }}" class="btn btn-warning">Edit/Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        document.querySelectorAll(".gc-switch").forEach(switchEl => {
            switchEl.addEventListener("change", function () {
                const gcId = this.dataset.gcId
                fetch("/admin/toggle-gc-visibility", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        gc_id: gcId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        alert("Failed to hide GC.");
                        this.checked = !this.checked;
                    }
                })
                .catch(() => {
                    alert("Server error. Failed to hide GC.");
                    this.checked = !this.checked;
                });
            });
        })
    </script>
{% endblock %}