{% extends "layout.html" %}

{% block title %}
    Current Signups
{% endblock %}

{% block body %}
    <h1>Current Signups</h1>
    <p class=fs-5>Not what you're looking for? View <a href="/volunteers/signups/all-time">all signups</a> from this school year.</p>
    <h3>Meals</h3>
    <table class="container table table-striped w-75 table-bordered">
        <thead>
            <tr>
                <th>Volunteer Name</th>
                <th>Meal Name</th>
                <th>Drop-off Date</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.volunteer_name }}</td>
                    <td><a href="/recipes/{{ meal.recipe_id }}">{{ meal.meal_name }}</a></td>
                    <td>{{ meal.date.strftime('%b') }} {{ meal.date.day }}</td>
                    {% if date.volunteer_start <= today and today <= date.volunteer_end and date.month_year.month == meal.date.month %}
                        <td>
                            <a href="/volunteers/signups/edit-meal-{{ meal.meal_id}}" class="btn btn-warning">Edit/Delete</a>
                        </td>
                    {% else %}
                        <td>Past edit deadline</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Gift Cards</h3>
    <table class="container table table-striped w-75 table-bordered">
        <thead>
            <tr>
                <th>Volunteer Name</th>
                <th>Gift Card Name</th>
                <th>Drop-off Date</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for gc in gcs %}
                <tr>
                    <td>{{ gc.volunteer_name }}</td>
                    <td>{{ gc.gc_name }}</td>
                    <td>{{ gc.date.strftime('%b') }} {{ gc.date.day }}</td>
                    {% if date.volunteer_start <= today and today <= date.volunteer_end and date.month_year.month == gc.date.month %}
                        <td>
                            <a href="/volunteers/signups/edit-gc-{{ gc.gc_id }}" class="btn btn-warning">Edit/Delete</a>
                        </td>
                    {% else %}
                        <td>Past edit deadline</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}